#location{
    height: 60px;
    width: 60px;
    background-color: black;
    border-radius: 50% 50% 50% 0%;
    transform: rotate(-45deg);
    position: relative;
}
#location::before {
    content: "";
    position: absolute;
    background-color: white;
    /* border-radius: 50%; */
    border-radius: 50% 50% 50% 0%;
    height: 30px;
    width: 30px;
    transform: translate(50%, 15px);
}